.quiz-button {
    margin: 40px;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #2D829A;
}

.quiz-button:hover, .quiz-button:focus {
    background-color: #569BAE;
}

.habitWrapper {
    margin-top: 50px;
}