<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/main.css" />
		<title>Current Streak</title>
	</head>
	<body>
		<h1>Current Streak: <%= currentStreak %></h1>
	</body>
</html>
